
$color: #ddd;
$avatarWidthPlusMargin: 42px;

$above1600TotalWidth: 1285px; 
$above1300TotalWidth: 985px; 
$above900TotalWidth: 850px; 
$above500TotalWidth: 450px; 
$scale14NameColWidth: 160px;

$cellHeight: 45px;
$cellIconsHeight: 15px;
$cellMargin: 1.5px;

@media (min-width: 500px) {
  .schedule {
    table {
      width: $above500TotalWidth;
    }
  }
}

@media (min-width: 900px) {
  .schedule {
    table {
      width: $above900TotalWidth;
    }
  }
}

@media (min-width: 1300px) {
  .schedule {
    table {
      width: $above1300TotalWidth;
    }
  }
}

@media (min-width: 1600px) {
  .schedule {
    table {
      width: $above1600TotalWidth;
    }
  }
}

.schedule {
  padding-top: 10px;

  table {
    font-size: 12px;
    table-layout: fixed;

    thead {
      th:first-of-type {
        width: $avatarWidthPlusMargin;
      }
      th:not(:first-of-type) {
        border-right: solid 1px $color;
        vertical-align: top;

        &.sunday {
          color: #e60000;
        }

        &.row-title {
          width: #{$scale14NameColWidth - $avatarWidthPlusMargin};
          text-align: right;
          border: none;
          padding-right: 10px;
        }
      }

      &, tr:last-child th, th:last-child {
        border: none;
      }
      tr:last-child th {
        padding-bottom: 10px;
      }
    }

    tbody {
      &+tbody::before {
        content: '';
        display: block;
        height: 10px;
      }

      tr {
        height: $cellHeight;
        max-height: $cellHeight;
        td {
          vertical-align: middle;
          // white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.avatar {
            min-width: auto;
            border-left: none;
            border-right: none;
          }

          &.name {
            min-width: auto;
            border-left: none;
          }

          .cell-icons {
            height: $cellIconsHeight;
            line-height: $cellIconsHeight;
          }

          &:not(.name):not(.avatar) {
            padding: $cellMargin;

            &.holiday {
              background-color: #f0eeee;
            }
          }

          .cell-color {
            height: #{$cellHeight - $cellIconsHeight - 2*$cellMargin};
            line-height: #{$cellHeight - $cellIconsHeight - 2*$cellMargin};
            border-radius: 5px;
            text-align: center;
            vertical-align: middle;
            font-size: 1.3em;
            background-color: #fff;
            border: solid 1px #eee;
            color: #555;
          }

          .dayNumber {
            visibility: hidden;
          }

          &:hover .dayNumber {
            visibility: visible;
          }
        }
      }
    }
  }
}

td {
  border: solid 1px $color;
  min-width: 40px;

  &:empty::after {
    content: "\00a0";
  }
}